<footer class="footer">
  <small>
    <a>Soon to be links</a>
    <a>Another link TBC and added</a>
  </small>
  <nav>
    <ul>
      <li>Link coming soon...</li>
      <li>Link coming soon...</li>
      <li>Link coming soon...</li>
    <ul>
  </nav>
</footer>
