<h1>Homepage</h1>

<h1>Random City</h1>
<% random_city = City.all.sample %>

<% if random_city %>
  <p>Name: <%= random_city.name %></p>
  <p>Population: <%= random_city.population %></p>
<% else %>
  <p>No cities found.</p>
<% end %>
