<button
  data-controller="modal"
  data-modal-dialog-param="crossroad_details_modal">
  Show Crossroad
</button>

<%= link_to new_crossroads_road_path, data: { turbo_stream: true } do %>
  Show Crossroads Panel
<% end %>

<dialog id="crossroads_modal" aria-labelledby="modal_title">
  <header>
    <h2 id="modal_title">
      Crossroad
    </h2>
    <form method="dialog">
      <button aria-label="close">X</button>
    </form>
  </header>

  <p>
    Lorem ipsum and so forth...
  </p>
</dialog>
