<%= turbo_frame_tag :modal do %>
  <div class="modal">
    <%= render partial: "junctions/form", junction: @junction %>
      <br>
      <div>
        <%= link_to "Cancel", "#", data: {
          controller: "modals",
          action: "modals#close"
        }, class: "cancel-button" %>
      </div>
  </div>
<% end %>
<% link_to "Home", root_path %>
