<div id="<%= dom_id post %>">
  <p>
    <strong>Junction:</strong>
    <%= post.junction %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= post.text %>
  </p>

</div>
