@import "bootstrap";

dialog {
  width: 60vw;
  margin: auto;

  &::backdrop {
    background: rgb(133, 118, 118);
    opacity: 0.4;
  }

  header {
    display: flex;
    align-items: center;

    h2 {
      flex: 0 1 100%;
    }
  }
}
